<section>
    <h1>{{title}}</h1>
    <ul>
        <li *ngFor="let course of courses" [ngClass]="course.clearance ? 'descuento' : 'sin-descuento'">
            <article>
                <img [src]="course.image.path" [alt]="course.image.alt">
                <div>
                    <h2>{{course.title}}</h2>
                    <p class="curso-descripcion">{{course.description}}</p>
                    <p>{{course.price | currency}}</p>
                </div>
            </article>
        </li>
    </ul>

    <!-- <ul>
        <li><app-course></app-course></li>
        <li><app-course></app-course></li>
        <li><app-course></app-course></li>
        <li><app-course></app-course></li>
        <li><app-course></app-course></li>
        <li><app-course></app-course></li>
        <li><app-course></app-course></li>
        <li><app-course></app-course></li>
        <li><app-course></app-course></li>
    </ul> -->
</section>